

<h3 style="width: 97.5%;border: 1px solid;background: #4C4A4A; margin-bottom:2px"><%=@image.image_category.title%></h3>
<div id="galleria">
	<div class="galleria-container notouch" style="width: 680px; height: 450px;">
		<div class="galleria-stage">
			<div class="galleria-images">
				<div class="galleria-image-top" align="center">
					<div class="galleria-image-top-float-l">
					</div>
					<div class="galleria-image-top-float-m">
						<span class='st_sharethis_hcount' displayText='ShareThis'></span>
						<span class='st_facebook_hcount' displayText='Facebook'></span>
						<span class='st_twitter_hcount' displayText='Tweet'></span>
						<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
						<span class='st_pinterest_hcount' displayText='Pinterest'></span>
						<span class='st_email_hcount' displayText='Email'></span>
					</div>
					<div class="galleria-image-top-float-r">
					</div>
				</div>
				<div class="galleria-image" align="center">
					<%= image_tag(@image.image_url, :id=>@image.id) %>
				</div>
				<div class="galleria-image-bottom" align="center">
					<div class="galleria-image-bottom-l">
					</div>
					<div class="galleria-image-bottom-m">
					</div>
					<div class="galleria-image-bottom-r">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @image.title %>
</p>

<p>
  <b>Description:</b>
  <%= @image.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @image.image_url %>
</p>

<p>
  <b>Image category:</b>
  <%= @image.image_category_id %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %> -->
